<div class="container-app second-page">
    <div class="row justify-content-center">

        <div class="col-1 text-center align-center-ver pointer">
            <mat-icon class="icon-size52" [routerLink]="['/']">keyboard_arrow_left </mat-icon>
        </div>
        <div class="col-11 text-center align-center-ver">
            <h3 class="account-title">
                Your CashBack
            </h3>
        </div>
        <div class="col-12 text-center">
            <p class="f-20">Earned To Date: € 19.44</p>
        </div>

        <div class="col-12 m-t-10">
            <p class="bold f-16">Favorites</p>
        </div>
        <div class="col-3 container-object-small shadow-object" *ngFor="let elem of listObjectPrefer |  sortBy:'order':'asc'" [ngClass]="{'pointer-cell' : !!elem.percentual, 'pointer-disabled':!elem.percentual }">

            <img class="img-prefer" src={{elem.icon}} />
            <p class=" f-14">{{elem.percentual}} </p>
            <p class=" f-14">{{elem.expired}}</p>
            <mat-icon *ngIf="!elem.added && elem.percentual !=='- '" style="margin-top: 14px;" (click)="added(elem,'prefer ')">add_circle_outline</mat-icon>
            <mat-icon *ngIf="!!elem.added && elem.percentual !=='- '" style="margin-top: 14px; color:green">check_circle_outline</mat-icon>
        </div>
        <div class="col-12 text-right" style="margin-top: 10px;">
            <span><mat-form-field class="example-form-field">
              <mat-label>Search</mat-label>
              <input matInput type="text"  name="search" [(ngModel)]="valueFilter" >
              <button mat-button *ngIf="valueFilter" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-icon class="pointer-cell">filter_alt</mat-icon>
            </span>
        </div>
        <div class="col-12">
            <mat-tab-group mat-align-tabs=" center ">
                <mat-tab label="Available">
                    <div class="row  margin-back">
                        <div class="col-3 container-object-small shadow-object" *ngFor="let elem of listObjectAvaiable  | appFilter:valueFilter:'search ' | sortBy:'order ':'asc '" [ngClass]="{'pointer-cell ' : !!elem.percentual, 'pointer-disabled
            ':!elem.percentual }" click='goTo(elem) '>
                            <img class="img-prefer" src={{elem.icon}} />
                            <p class=" f-14">{{elem.percentual}} </p>
                            <p class=" f-14">{{elem.expired}}</p>
                            <mat-icon *ngIf="!elem.added" style="margin-top: 14px;" (click)="added(elem,'avalaible ')">add_circle_outline</mat-icon>
                            <mat-icon *ngIf="!!elem.added" style="margin-top: 14px; color:green">check_circle_outline</mat-icon>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Earned">
                    <div class="row  margin-back" *ngIf="listObjectSelected.length >0">
                        <div class="col-3 container-object-small shadow-object" *ngFor="let elem of listObjectSelected |  sortBy:'order ':'asc '" [ngClass]="{'pointer-cell ' : !!elem.percentual, 'pointer-disabled ':!elem.percentual }" click='goTo(elem) '>
                            <img class="img-prefer" src={{elem.icon}} />
                            <p class=" f-14">{{elem.percentual}} </p>
                            <p class=" f-14">{{elem.expired}}</p>
                            <mat-icon *ngIf="!!elem.added" style="margin-top: 14px; color:blue" (click)="remove(elem)">remove_circle_outline</mat-icon>
                        </div>
                    </div>
                    <div class="row margin-back ">
                        <div class="col-12 m-10 " *ngIf="listObjectSelected.length===0 ">
                            <p class=" f-14 ">There are no selected offers </p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Expired ">
                    <div class="row margin-back " *ngIf="listObjectExpired.length>0">
                        <div class="col-3 container-object-small shadow-object" *ngFor="let elem of listObjectExpired |  sortBy:'order ':'asc '" [ngClass]="{'pointer-cell ' : !!elem.percentual, 'pointer-disabled ':!elem.percentual }" click='goTo(elem) '>

                            <img class="img-prefer" src={{elem.icon}} />
                            <p class=" f-14">{{elem.percentual}} </p>
                            <p class=" f-14">{{elem.expired}}</p>

                        </div>
                    </div>
                    <div class="row margin-back" *ngIf="listObjectExpired.length ===0">
                        <div class="col-12 m-10 ">
                            <p class=" f-14">There are no offers expired </p>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>