/* You can add global styles to this file, and also import other style files */

@import '~material-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.container-app {
    width: 414px;
    min-height: 820px;
    border: 6px solid black;
    border-radius: 60px;
    margin: 16px auto;
    padding: 20px;
}

.container-object,
.container-object-small {
    border: 1px solid black;
    height: 110px;
    margin: 14px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
}

.container-object-small {
    height: 150px;
}

.shadow-object {
    box-shadow: 6px 6px 3px #CECFD0;
}

mat-icon:focus {
    outline: 0;
}

mat-tab-body .mat-tab-body-content {
    overflow-x: hidden;
}

.margin-back {
    margin-right: -25px;
    margin-left: -10px;
}

.bold {
    font-weight: 600;
}

p {
    margin-bottom: 0px;
}

.pointer {
    cursor: pointer;
}

.pointer-disabled {
    cursor: no-drop;
}

.pointer-cell {
    cursor: cell;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-center-ver {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    border-color: white;
    background-color: white;
    cursor: pointer;
}

.new {
    /* transform: rotate(40deg); */
    background-color: red;
    align-self: end;
    text-align: right;
    position: absolute;
    top: -14px;
    right: -15px;
    color: white;
    padding: 6px;
    font-weight: 600;
    border: 1px solid red;
    border-radius: 47px;
}

.m-10 {
    margin: 10px;
}

.m-16 {
    margin: 16px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-r-l-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.p-r-0 {
    padding-right: 0px;
}

.f-14 {
    font-size: 14px;
}

.f-20 {
    font-size: 20px;
}

.f-22 {
    font-size: 22px;
}

.f-24 {
    font-size: 24px;
}

.mat-tab-label {
    min-width: 116px!important;
    padding: 0 16px!important;
}